.book-container {
    width: 100%;
    height: 100%;
}

html {
    margin: 0;
    height: 100%;
    font-size: 20px;
}

body {
    font-size: 0.8rem;
}

a:visited {
    color: #7170db;
}

a:hover {
    color: #6d6d6d;
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.off-canvas-overlay {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 499;
}

.off-canvas-overlay.show {
    display: block;
}

@media all and (min-width: 1280px) {
    .off-canvas-overlay {
        display: none !important;
    }
}

.off-canvas-content {
    height: 100%;
    font-family: sans-serif;
    padding: 36px;
}

.off-canvas-content .book-content {
    padding: 0rem 3rem;
    margin-top: 20px;
}

@media all and (max-width: 1500px) {
    .off-canvas-content .book-content {
        padding: 0rem 0.75rem;
    }
}

.off-canvas-content .book-content .book-post a:hover {
    text-decoration: underline;
}

.off-canvas-content .book-content .book-post h1, .off-canvas-content .book-content .book-post h2, .off-canvas-content .book-content .book-post h3, .off-canvas-content .book-content .book-post h4, .off-canvas-content .book-content .book-post h5, .off-canvas-content .book-content .book-post h6 {
    font-weight: bold;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

.off-canvas-content .book-content .book-post h2, .off-canvas-content .book-content .book-post h3, .off-canvas-content .book-content .book-post h4, .off-canvas-content .book-content .book-post h5, .off-canvas-content .book-content .book-post h6 {
    margin-top: 1.6rem;
}

.off-canvas-content .book-content .book-post h1 {
    font-size: 1.6rem;
}

.off-canvas-content .book-content .book-post h2 {
    font-size: 1.4rem;
}

.off-canvas-content .book-content .book-post h3 {
    font-size: 1.2rem;
}

.off-canvas-content .book-content .book-post h4 {
    font-size: 1rem;
}

.off-canvas-content .book-content .book-post h5 {
    font-size: 0.8rem;
}

.off-canvas-content .book-content .book-post h6 {
    font-size: 0.7rem;
}

.off-canvas-content .book-content .book-post p {
    margin-bottom: 1rem;
}

.off-canvas-content .book-content .book-post hr {
    border: 0.5px solid #ddd;
    background-color: #ddd;
    margin: 1rem 0;
}

.off-canvas-content .book-content .book-post .table-wrapper {
    max-width: 100%;
    margin: 1.25rem 0;
    overflow: auto;
}

.off-canvas-content .book-content .book-post .table-wrapper table {
    width: 100%;
}

.off-canvas-content .book-content .book-post .table-wrapper table th, .off-canvas-content .book-content .book-post .table-wrapper table td {
    padding: 0.75rem;
    border-top: 1px solid #ddd;
    text-align: left;
}

.off-canvas-content .book-content .book-post ul, .off-canvas-content .book-content .book-post ol {
    list-style-position: outside;
    margin: 0 0 1.2rem 1.4rem;
}

.off-canvas-content .book-content .book-post ul ol, .off-canvas-content .book-content .book-post ol ol {
    margin-top: 0;
    margin-bottom: 0;
}

.off-canvas-content .book-content .book-post ul ul, .off-canvas-content .book-content .book-post ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.off-canvas-content .book-content .book-post ul p, .off-canvas-content .book-content .book-post ol p {
    margin: 0;
}

.off-canvas-content .book-content .book-post li {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.off-canvas-content .book-content .book-post blockquote {
    margin: 1.125rem 1.125rem 1.125rem 0;
    padding: 0.2rem 1rem;
}

.off-canvas-content .book-content .book-post img {
    border-style: solid;
    border-width: thin;
    border-radius: 2px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.off-canvas-content .book-post-info {
    position: fixed;
    font-size: 0.7rem;
}

/* @media all and (min-width: 1280px) {
    .off-canvas-content .book-post-info {
        max-width: 10rem;
    }
} */

@media all and (min-width: 960px) and (max-width: 1500px) {
    .off-canvas-content .book-post-info {
        max-width: 8.5rem;
    }
}

.off-canvas-content .book-post-info .book-post-meta {
    display: block;
    opacity: 1;
    max-height: 150px;
    overflow: auto;
    font-size: 0.7rem;
    transition: max-height 0.15s ease-in;
    transition: opacity 0.15s ease-in;
}

.off-canvas-content .book-post-info .book-post-meta .author {
    display: flex;
}

.off-canvas-content .book-post-info .book-post-meta .author .author-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 8px;
}

.off-canvas-content .book-post-info .book-post-meta.hide {
    opacity: 0;
    max-height: 0;
    transition: max-height 0.15s ease-out;
}

.off-canvas-content .book-post-info .book-tocbot {
    overflow: auto;
    position: relative;
    padding-right: 0.875rem;
    transition: max-height 0.15s ease-in-out;
}

.off-canvas-content .book-post-info .book-tocbot ul {
    list-style: none;
    position: inherit;
    overflow: hidden;
}

.off-canvas-content .book-post-info .book-tocbot ul li {
    margin-left: 0.25rem;
}

.off-canvas-content .book-post-info .book-tocbot .toc-link::before {
    background-color: #e7e7e7 !important;
}

.off-canvas-content .book-post-info .book-tocbot .is-active-link::before {
    background-color: #004ed0 !important;
}

.off-canvas-content .book-post-info .book-tocbot-menu {
    margin: 1rem 0.75rem;
}

.off-canvas-content .book-post-info .book-tocbot-menu a {
    display: block;
    margin: 0.375rem 0;
    color: #999;
    cursor: pointer;
}

.off-canvas-content .book-post-info .book-tocbot-menu a:hover {
    color: gray;
}

@media all and (min-width: 1280px) {
    .off-canvas-content {
        /* content margin */
        margin-left: 22rem;
        padding: 1.8rem 1.8rem;
    }
}

@media all and (min-width: 1280px) and (max-width: 1500px) {
    .off-canvas-content {
        margin-left: 11rem;
        padding: 1.8rem 1.5rem;
    }
}

@media all and (max-width: 959px) {
    .off-canvas-content {
        padding: 1.8rem 0.75rem;
    }
}

.book-navbar {
    padding-top: 0;
    padding-right: 0.75rem;
    padding-bottom: 1.5rem;
    padding-left: 0.75rem;
}

.book-navbar i {
    color: #2f2f2f;
}

@media all and (min-width: 1280px) {
    .book-navbar {
        display: none;
    }
}

@media all and (max-width: 1500px) {
    .book-navbar {
        display: block;
    }
}

.book-sidebar {
    border-right-style: outset;
    border-right-width: thin;
    border-right-color: #e6f5ff69;
    position: fixed;
    /* background color */
    width: 22rem;
    height: 100%;
    z-index: 500;
    background-color: #f4f7f9;
    transition: transform 0.2s;
}

.book-sidebar.show {
    transform: translateX(0);
}

@media all and (min-width: 1280px) {
    .book-sidebar {
        transform: translateX(0) !important;
    }
}

@media all and (max-width: 1500px) {
    .book-sidebar {
        transform: translateX(-200%);
        width: 11rem;
    }
}

.book-sidebar .book-brand {
    display: flex;
    position: fixed;
    top: 0.85rem;
    /* left: 1.25rem; */
    height: 2rem;
}

.book-sidebar .book-brand a {
    display: inline-flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: #2f2f2f;
    text-decoration: none;
}

.book-sidebar .book-brand a img {
    height: 1.6rem;
    width: 1.6rem;
}

.book-sidebar .book-brand a span {
    margin-left: 0.5rem;
}

.book-sidebar .book-brand a:hover {
    color: #2f2f2f;
    text-decoration: none;
}

.book-sidebar .book-menu {
    position: fixed;
    top: 3.25rem;
    bottom: 0rem;
    /* line break*/
    width: 12rem;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 0.7rem;
}

.book-sidebar .book-menu h1, .book-sidebar .book-menu h2, .book-sidebar .book-menu h3, .book-sidebar .book-menu h4, .book-sidebar .book-menu h5, .book-sidebar .book-menu h6 {
    padding: 0 0.6rem 0 1.25rem;
    margin: 1.25rem 0 0.625rem 0;
    font-size: 0.7rem;
}

.book-sidebar .book-menu ul, .book-sidebar .book-menu ol, .book-sidebar .book-menu li {
    margin: 0;
    list-style: none;
}

.book-sidebar .book-menu p {
    margin: 0;
}

.book-sidebar .book-menu .uncollapsible {
    padding: 0 0.6rem 0 1.25rem;
    margin: 0 0 0.625rem 0;
    border-top: 1px solid #69696959;
}

.book-sidebar .book-menu .accordion {
    padding: 0.625rem 0.6rem 0.625rem 1.25rem;
    border-top: 1px solid #e7e7e7;
}

.book-sidebar .book-menu .accordion label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.book-sidebar .book-menu .accordion .accordion-body {
    margin: 0;
}

.book-sidebar .book-menu .accordion input:checked~.accordion-header .icon {
    transform: rotate(-180deg);
}

.book-sidebar .book-menu .accordion i.icon-arrow-down::before {
    border-width: 0.05rem;
    border-color: #696969;
    height: 0.3rem;
    width: 0.3rem;
}

.book-sidebar .book-menu ul {
    margin-left: 0.5rem;
}

.book-sidebar .book-menu li {
    margin-top: 0.625rem;
}

.book-sidebar .book-menu a {
    color: #2f2f2f;
    font-weight: 400;
}

.book-sidebar .book-menu a:hover {
    color: gray;
}

.book-sidebar .book-menu .current-tab {
    color: #004ed0;
    font-weight: 600;
}

.book-archive h1, .book-archive h2 {
    margin: 0;
}

.book-archive h1 {
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.book-archive h2 {
    font-size: 1rem;
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid #ddd;
}

.book-archive .years {
    padding-bottom: 1.25rem;
}

.topnav {
    width: 100%;
    height: 50px;
    position: fixed;
}

.navbar {
    padding: 10px;
}

@media all and (min-width: 1280px) {
    #navbar {
        display: none;
    }
}

@media all and (max-width: 1500px) {
    #navbar {
        display: block;
    }
}

@media all and (min-width: 1280px) {
    .side-blank {
        display: block;
    }
}

@media all and (max-width: 1500px) {
    .side-blank {
        display: none;
    }
}

@media all and (max-width: 1500px) {
    .book-sidebar .book-menu {
        position: fixed;
        top: 3.25rem;
        bottom: 0rem;
        /* line break*/
        width: 10rem;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 0.7rem;
    }
}

.s-rounded {
    border-radius: 0.15rem;
}

.code-p {
    overflow: auto;
    font-weight: 100;
    font-size: 14px;
}

.code-card {
    background-color: #182f54;
    margin-bottom: 1rem;
    color: #e6ecf1;
}

.card-2 {
    box-shadow: 0 0px 1px rgb(0 0 0 / 16%), 0 0px 3px rgb(0 0 0 / 16%);
    border-block-end-style: none;
    padding: 13px;
    background: #fff;
    border-radius: 3px;
    margin: 1rem;
    position: relative;
}

.card-2:hover {
    box-shadow: 0 0px 1px rgb(0 0 0 / 16%), 0 0px 3px rgb(0 0 0 / 16%);
    border-width: medium;
}

.pagination {
    margin-top: 50px;
}

.pag .card .columns {
    padding: 5px;
    flex-wrap: nowrap;
}

@media all and (max-width: 959px) {
    .pagination {
        display: block;
    }
    .pag {
        width: 100%;
    }
}

.accordion .accordion-header {
    padding: 0rem;
}

.accordion .accordion-header .icon {
    font-size: 10px;
    color: #696969;
}

.card .card-body:last-child {
    padding-left: .8rem;
    padding-right: .8rem;
    padding-bottom: 0;
    padding-top: 0;
}